	<!-- Validator, conversionService, messageConverter를 자동으로 등록 -->
	<mvc:annotation-driven>
		<mvc:argument-resolvers>
			<bean class="com.douzone.mysite.security.AuthUserHandlerMethodArgumentResolver"/>
		</mvc:argument-resolvers>	
	</mvc:annotation-driven>

	
	
	
	
	
	<!--mvc resources mapping  -->
	<!-- mapping 시에 img들의 위치는 location과 mapping이 각각 지정하는곳에 있어야한다.   -->
	<mvc:resources location="file:/Users/kang-woosung/uploads-mysite/" mapping="/images/**"/>


	
		<!-- Interceptors  -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/auth"/>
			<bean class="com.douzone.mysite.security.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/logout"/>
			<bean class="com.douzone.mysite.security.LogoutInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	
	
	<!-- 위에 둘 제외 + assets 애들 하고 나머지 다~ 검사   -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/user/auth"/>
			<mvc:exclude-mapping path="/user/logout"/>
			<mvc:exclude-mapping path="/assets/**"/>
			<bean class="com.douzone.mysite.security.AuthInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
